h1{
    text-align: center;
    font-size: 3em;
    font-family: sans-serif;
    padding: 10px 0;
    margin: 0;
}

div.centem{
    text-align: center;
}

div.boxx{
    border: 3px inset gray;
    width: 70vw;
    margin: auto;
}

canvas#maine{
    width: 70vw;
}